<main class="tableau">
    <div>


        <table>
            <caption>Comparez pour mieux choisir !</caption>
            <thead>
                <tr>
                    <th class="col1">
                    </th>
                    <th class="col2"><img src="images/icons_shared/tag-solid.svg" alt="theme"><span>Thèmes</span>
                    </th>
                    <th class="col3"><img src="images/icons_shared/thumbs-up-solid.svg"
                            alt="appreciation"><span>Quote</span>
                    </th>
                    <th class="col4"><img src="images/icons_shared/clock-solid.svg" alt="duree"><span>Durée</span>
                    </th>
                    <th class="col5"><img src="images/icons_shared/location-pin-solid.svg"
                            alt="Lieu"><span>Adresse</span>
                    </th>
                    <th class="col6"><img src="images/icons_shared/dollar-sign-solid.svg" alt="Prix"><span>Prix</span>
                    </th>
                    <th class="col7"></th>

                </tr>
            </thead>
            <tbody>
                <tr class="row1">
                    <td class="col1">La Tour de la Bourse</td>
                    <td class="col2"><img src="images/themes/building-solid.svg" alt="Urbain"></td>
                    <td class="col3">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-half-stroke-solid.svg" alt="demi-etoile">
                    </td>
                    <td class="col4">45 min</td>
                    <td class="col5">900 Pl. Jean-Paul-Riopelle, Montréal</td>
                    <td class="col6">$ 30</td>
                    <td class="col7"><a href="../detail/index.html"><img src="images/icons_shared/eye-regular.svg"
                                alt="voir"><span>Voir</span></a>
                    </td>
                </tr>

                <tr class="row2">
                    <td class="col1">Quartier Latin</td>
                    <td class="col2"><img src="images/themes/building-solid.svg" alt="Urbain"></td>
                    <td class="col3">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                    </td>
                    <td class="col4">2 h</td>
                    <td class="col5">900 Pl. Jean-Paul-Riopelle, Montréal</td>
                    <td class="col6">$ 45</td>
                    <td class="col7"><a href="detail/index.html"><img src="images/icons_shared/eye-regular.svg"
                                alt="voir"><span>Voir</span></a>
                    </td>
                </tr>

                <tr class="row3">
                    <td class="col1">Oratoire St-Joseph</td>
                    <td class="col2"><img src="images/themes/fort-awesome-brands.svg" alt="Historique">
                    </td>
                    <td class="col3">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-half-stroke-solid.svg" alt="demi-etoile">
                    </td>
                    <td class="col4">2 h</td>
                    <td class="col5">900 Pl. Jean-Paul-Riopelle, Montréal</td>
                    <td class="col6">$ 15</td>
                    <td class="col7"><a href="../detail/index.html"><img src="images/icons_shared/eye-regular.svg"
                                alt="voir"><span>Voir</span></a>
                    </td>
                </tr>

                <tr class="row4">
                    <td class="col1">Musée d'Art Comtemporain</td>
                    <td class="col2"><img src="images/themes/fort-awesome-brands.svg" alt="Historique">
                    </td>
                    <td class="col3">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                    </td>
                    <td class="col4">2h30</td>
                    <td class="col5">900 Pl. Jean-Paul-Riopelle, Montréal</td>
                    <td class="col6">$ 35</td>
                    <td class="col7"><a href="../detail/index.html"><img src="images/icons_shared/eye-regular.svg"
                                alt="voir"><span>Voir</span></a>
                    </td>
                </tr>

                <tr class="row5">
                    <td class="col1">Cirque Du Soleil</td>
                    <td class="col2"><img src="images/themes/masks-theater-solid.svg" alt="Culture"></td>
                    <td class="col3">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                    </td>
                    <td class="col4">3 h</td>
                    <td class="col5">900 Pl. Jean-Paul-Riopelle, Montréal</td>
                    <td class="col6">$ 95</td>
                    <td class="col7"><a href="../detail/index.html"><img src="images/icons_shared/eye-regular.svg"
                                alt="voir"><span>Voir</span></a>
                    </td>
                </tr>

                <tr class="row6">
                    <td class="col1">Société des Arts et Technologies</td>
                    <td class="col2"><img src="images/themes/masks-theater-solid.svg" alt="Culture"></td>
                    <td class="col3">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-half-stroke-solid.svg" alt="demi-etoile">
                    </td>
                    <td class="col4">3 h</td>
                    <td class="col5">900 Pl. Jean-Paul-Riopelle, Montréal</td>
                    <td class="col6">$ 85</td>
                    <td class="col7"><a href="../detail/index.html"><img src="images/icons_shared/eye-regular.svg"
                                alt="voir"><span>Voir</span></a>
                    </td>
                </tr>

                <tr class="row7">
                    <td class="col1">Circuit Gilles Villeneuve</td>
                    <td class="col2"><img src="images/themes/person-running-solid.svg" alt="Sportif">
                    </td>
                    <td class="col3">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-half-stroke-solid.svg" alt="demi-etoile">
                    </td>
                    <td class="col4">1 h</td>
                    <td class="col5">900 Pl. Jean-Paul-Riopelle, Montréal</td>
                    <td class="col6">$ 90</td>
                    <td class="col7"><a href="../detail/index.html"><img src="images/icons_shared/eye-regular.svg"
                                alt="voir"><span>Voir</span></a>
                    </td>
                </tr>

                <tr class="row8">
                    <td class="col1">Stade Olympique</td>
                    <td class="col2"><img src="images/themes/person-running-solid.svg" alt="Sportif">
                    </td>
                    <td class="col3">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-half-stroke-solid.svg" alt="demi-etoile">
                    </td>
                    <td class="col4">3 h</td>
                    <td class="col5">900 Pl. Jean-Paul-Riopelle, Montréal</td>
                    <td class="col6">$ 75</td>
                    <td class="col7"><a href="../detail/index.html"><img src="images/icons_shared/eye-regular.svg"
                                alt="voir"><span>Voir</span></a>
                    </td>
                </tr>

                <tr class="row9">
                    <td class="col1">Mont-Royal</td>
                    <td class="col2"><img src="images/themes/tree-solid.svg" alt="Nature"></td>
                    <td class="col3">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-regular.svg" alt="etoile">
                    </td>
                    <td class="col4">3h30</td>
                    <td class="col5">900 Pl. Jean-Paul-Riopelle, Montréal</td>
                    <td class="col6">$ 65</td>
                    <td class="col7"><a href="../detail/index.html"><img src="images/icons_shared/eye-regular.svg"
                                alt="voir"><span>Voir</span></a>
                    </td>
                </tr>


                <tr class="row10">
                    <td class="col1">Jardin Botanique</td>
                    <td class="col2"><img src="images/themes/tree-solid.svg" alt="Nature"></td>
                    <td class="col3">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                    </td>
                    <td class="col4">2h30</td>
                    <td class="col5">900 Pl. Jean-Paul-Riopelle, Montréal</td>
                    <td class="col6">$ 50</td>
                    <td class="col7"><a href="../detail/index.html"><img src="images/icons_shared/eye-regular.svg"
                                alt="voir"><span>Voir</span></a>
                    </td>
                </tr>

                <tr class="row11">
                    <td class="col1">Restaurant Ma Grosse Truie Chérie</td>
                    <td class="col2"><img src="images/themes/utensils-solid.svg" alt="Gourmande"></td>
                    <td class="col3">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-half-stroke-solid.svg" alt="demi-etoile">
                    </td>
                    <td class="col4">2 h</td>
                    <td class="col5">900 Pl. Jean-Paul-Riopelle, Montréal</td>
                    <td class="col6">$ 115</td>
                    <td class="col7"><a href="../detail/index.html"><img src="images/icons_shared/eye-regular.svg"
                                alt="voir"><span>Voir</span></a>
                    </td>
                </tr>

                <tr class="row12">
                    <td class="col1">Restaurant le Toqué!</td>
                    <td class="col2"><img src="images/themes/utensils-solid.svg" alt="Gourmande"></td>
                    <td class="col3">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                        <img class="star" src="images/icons_shared/star-half-stroke-solid.svg" alt="demi-etoile">
                    </td>
                    <td class="col4">2 h</td>
                    <td class="col5">900 Pl. Jean-Paul-Riopelle, Montréal</td>
                    <td class="col6">$ 250</td>
                    <td class="col7"><a href="../detail/index.html"><img src="images/icons_shared/eye-regular.svg"
                                alt="voir"><span>Voir</span></a>
                    </td>
                </tr>

            </tbody>
        </table>


    </div>

</main>