<main>

    <article class="description" id="magazine">

        <div>
            <img src="images/Culture/SAT_entropia-1.jpg" alt="SAT">
            <div>
                <h3><a href="../detail/index.html">
                        Société des Arts et Technologies
                    </a></h3>
                <p>Innovation et arts technologiques éblouiront vos sens, dans cet espace où créativité
                    et
                    divertissement sont au rendex-vous.</p>
            </div>
        </div>

    </article>
    <article class="description">

        <div>
            <img src="images/Nature/jardinBotanique.jpg" alt="Jardin Botanique">
            <div>
                <h3><a href="../detail/index.html">
                        Jardin Botanique
                    </a></h3>
                <p>Sur ses 75 hectares, le Jardin botanique de Montréal présente aux visiteurs une
                    diversité
                    remarquable de végétaux, et
                    ce, en toute saison.</p>
            </div>
        </div>

    </article>
    <article class="description">

        <div>
            <img src="images/Restaurant/ToqueRestaurant.jpg" alt="Restaurant Le Toque">
            <div>
                <h3><a href="../detail/index.html">
                        Restaurant Le Toque
                    </a></h3>
                <p>C'est un des meilleurs restaurants chics de Montréal et un restaurant incontournable
                    de
                    la
                    ville.</p>
            </div>
        </div>

    </article>
    <article class="description">

        <div>
            <img src="images/TourDeLaBourse_night.jpg" alt="Tour de la Bourse">
            <div>
                <h3><a href="../detail/index.html">
                        Tour de la Bourse
                    </a></h3>
                <p>Haut-lieu de l'économie provinciale, cette tour se dresse au sein du vieux-port de
                    Montréal
                    comme une emblème de la prospérité et du capitalisme.</p>
            </div>
        </div>

    </article>
    <article class="description">
        <div>
            <img src="images/Sportif/stade-olympique-de-montreal-illus.jpg" alt="Stade Olympique">
            <div>
                <h3><a href="../detail/index.html">
                        Stade Olympique
                    </a></h3>
                <p>Figure mythique du paysage montréalais, le stade accueille les plus grands événements
                    sportifs de la ville et les foules s'y pressent pour acclamer les athèles d'ici et
                    d'ailleurs.</p>
            </div>
        </div>
    </article>
    <article class="description">
        <div>
            <img src="images/Historique/oratoireSt-Joseph.jpg" alt="Oratoire St-Joseph">
            <div>
                <h3><a href="../detail/index.html">
                        Oratoire St-Joseph
                    </a></h3>
                <p>L'Oratoire a été reconnu comme un lieu historique national du Canada le 3 mai 20041.
                    Il a
                    été
                    désigné sanctuaire
                    national par la Conférence des évêques catholiques du Canada, comme seulement une
                    poignée
                    d'autres sites.</p>
            </div>
        </div>

    </article>
    <div id="pagination">
        <a href="./index.html#magazine"><img src="view/catalogue/images/backward-fast-solid.svg"
                alt="revenir en arriere rapidement"></a>
        <a href="./index.html#magazine"><img src="view/catalogue/images/backward-step-solid.svg"
                alt="revenir en arriere une page"></a>
        <a href="./index.html#magazine"><img src="view/catalogue/images/forward-step-solid.svg"
                alt="avancer d'une page"></a>
        <a href="./index.html#magazine"><img src="view/catalogue/images/forward-fast-solid.svg"
                alt="avancer rapidement a d'autres pages"></a>
    </div>
</main>