/** Chargement des polices **/
@font-face {
    font-family: "UnicaOne";
    src: url("../images/Fonts/Unica_One/UnicaOne-Regular.ttf");
}

@font-face {
    font-family: "Caveat";
    src: url("../images/Fonts/Caveat/Caveat-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("../images/Fonts/Poppins/Poppins-Regular.ttf");
}

/*Police de caractere par defaut pour tout le site, ne pas changer svp*/
* {
    font-family: "UnicaOne";
}

/** Déclaration du box-sizing, ne pas toucher svp **/
* {
    box-sizing: border-box;
}



header>h2 {
    background-color: blanchedalmond;
    color: white;
    padding: 10px;
    text-align: center;
    height: 40px;
    vertical-align: middle;
}

h3 {
    display: inline;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
}

nav {
    text-align: center;
}

nav a {
    color: aliceblue;
    text-decoration: none;
    padding: 0 0.5rem;

}

.error {
    background-color: blanchedalmond;
    color: brown;
    padding: 5px;
}

form.form {
    width: 40%;
    margin: auto;
    text-align: center;
    border: thick double #32a1ce;
}

.rounded-input {
    padding: 10px;
    border-radius: 10px;
}

input {
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    margin: auto;
}

form.form input {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    width: 50%;


}

img.logo {
    color: white;
    text-decoration: inherit;
    width: 60px;
    border-radius: 10px;
}

form.form button {

    /* remove default behavior */
    appearance: none;
    -webkit-appearance: none;

    /* usual styles */
    padding: 10px;
    border: none;
    background-color: #3F51B5;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    width: 40%;

}

h2.error {
    text-align: center;
}

footer div {
    display: inline;
    padding-left: 10%;
    text-align: center;
}

td:nth-child(even) {
    background-color: #D6EEEE;
}

form.table, table {
    text-align: center;
    width: 40%;
    margin: auto;
}

div.content {
    width: 50%;
    text-align: center;
}