<main>
    <article>
        <h2>Liste</h2>
        <ul>
            <li id="historical">

                <div><a href="../detail/index.html"><img src="view/galerie/images/Canal_Lachine.jpg"
                            alt="Canal de Lachine">
                        <p>Canal de Lachine</p>
                    </a>
                </div>
                <div><a href="../detail/index.html"><img src="view/galerie/images/Louis_Square.jpg" alt=" Louis Square">
                        <p> Louis Square</p>
                    </a></div>
            </li>
            <li id="urban">

                <div><a href="../detail/index.html"><img src="view/galerie/images/QuartierLatin.jpg"
                            alt="Quartier Latin">
                        <p>Quartier Latin</p>
                    </a>
                </div>
                <div><a href="../detail/index.html"><img src="view/galerie/images/TourDeLaBourse_night.jpg"
                            alt=" Tour de la bourse">
                        <p>Tour de la bourse</p>
                    </a>
                </div>
            </li>
            <li id="restaurant">

                <div><a href="../detail/index.html"><img src="view/galerie/images/ToqueRestaurant.jpg"
                            alt="Toque Restaurant">
                        <p>Toque Restaurant</p>
                    </a>
                </div>
                <div><a href="../detail/index.html"><img
                            src="images/Restaurant/le-resto-chez-ma-grosse-truie-cherie-ferme-mysterieusement-547850.jpg"
                            alt="Ma grosse liuite cherie">
                        <p>Restaurant <strong>Ma grosse liuite cherie</strong> </p>
                    </a>
                </div>
            </li>
            <li id="sport">

                <div><a href="../detail/index.html"><img
                            src="view/galerie//images/stade-olympique-de-montreal-illus.jpg"
                            alt="stade olympique de monlieal">
                        <p>Stade olympique de monlieal</p>
                    </a>
                </div>
                <div><a href="../detail/index.html"><img src="view/galerie/images/circuit-gilles-villeneuve.jpg"
                            alt="circuit-gilles-villeneuve">
                        <p>Le circuit Gilles-Villeneuve</p>
                    </a>
                </div>
            </li>
            <li id="natural">

                <div><a href="../detail/index.html"><img src="view/galerie/images/jardinBotanique.jpg"
                            alt="jardin botanique">
                        <p><strong>jardin botanique</strong></p>
                    </a>
                </div>
                <div><a href="../detail/index.html"><img src="view/galerie/images/Mont_Royal.jpg"
                            alt="Parc du mont royal">
                        <p>Parc du mont royal</p>
                    </a>
                </div>
            </li>
            <li id="cultural">

                <div><a href="../detail/index.html"><img src="view/galerie/images/sat_montreal.jpg"
                            alt="Satelite Montreal">
                        <p>Satelite Montreal</p>
                    </a>
                </div>
                <div><a href="../detail/index.html"><img src="view/galerie/images/mac_musee.jpg" alt="Musee Mac">
                        <p>Musee Mac</p>
                    </a>
                </div>
            </li>

        </ul>
    </article>

</main>