<main>
    <header>
        <img src="view/detail/images/stade-olympique-de-montreal-illus.jpg" alt="Stade olympique de montreal">
        <h2>Stade olympique de Montréal
        </h2>

    </header>
    <div class="content">
        <div>
            <img src="view/detail/images/olypique_stade.jpg" alt="Olympiqye stade">
            <p>Au début de 2016, le Parc olympique a entrepris un imposant chantier visant à moderniser
                ses
                infrastructures électromécaniques. En plus de contribuer aux objectifs de réduction des
                émissions de gaz à effet de serre (GES) du gouvernement du Québec, les travaux se
                financeront en
                grande partie par des économies d&apos;énergie annuelles de 1,3 M$ garanties par
                Ecosystem,
                firme
                responsable de la conception, de l&apos;implantation, de l&apos;optimisation et du suivi
                de
                performance du
                projet.</p>
        </div>
        <div>
            <img src="view/detail/images/parc-olympique-montreal-olympic-stadium-secrets-du-baseball.jpg"
                alt="stade de basquet au stade olympique">
            <p>Le Stade olympique de Montréal est un stade omnisports couvert d'une capacité de 56 000
                places,
                pouvant être aménagé jusqu'à une capacité de 65 000 places. Conçu par l'architecte
                français
                Roger Taillibert à la demande du maire Jean Drapeau, le Stade avait pour mandat
                d'accueillir
                les
                Jeux olympiques d'été de 1976 dans un premier temps, puis les Expos de Montréal par la
                suite,
                qui y ont séjourné à partir de 1977, jusqu'à leur départ, en 2004.</p>
        </div>
    </div>
    <div class="command">
        <p class="price"><strong>$ 75 </strong></p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <a href="./index.php?op=64" class="button">
            Rerservation>>>
        </a>



    </div>
    <div class="comments">
        <article>
            <h2>Stade omnisport</h2>
            <img class="avatar" src="view/detail/images/clients/avatar-01.jpg" alt="avatar client1">
            <p>C'est un stade omnisport et d' utilisation olympique </p>
            <div class="quote">
                <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                <img class="star" src="images/icons_shared/star-regular.svg" alt="etoile">
            </div>
        </article>
        <article>
            <h2>CF-Montreal Vs New Englan (4-0)</h2>
            <div> <img class="avatar" src="view/detail/images/clients/avatar-02.jpg" alt="avatar client2">
                <p>Samedi 20 Aout 2022, tout le stade etait au couleur de CF-Montreal.
                </p>
                <div class="quote"> <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                    <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                    <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                    <img class="star" src="images/icons_shared/star-solid.svg" alt="etoile">
                    <img class="star" src="images/icons_shared/star-half-stroke-solid.svg" alt="etoile">
                </div>
            </div>
        </article>
    </div>
    <div class="details">
        <div class="info">
            <p>Ouvert entre <strong> 09h et 20h</strong></p>
            <p>Adresse : <strong>4545 Av. Pierre-De Coubertin, Montréal, QC H1V 0B2</strong></p>
        </div>
        <div class="mapouter">
            <div class="gmap_canvas"><iframe id="gmap_canvas"
                    src="https://maps.google.com/maps?q=stade%20olypique%20montreal&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe><a
                    href="https://2piratebay.org"></a>

            </div>
        </div>
    </div>
</main>