
        <main>
            <article class="photo"> <img
                    src="./images/images-home/20999-Credit-FR-Tourisme-Montreal-Stephan-Poulin-EN-Credit-Tourisme-Montreal-Steephan-Poulin1.jpg.png"
                    alt="Vieux-Port de Montreal">
                <h2>Historique</h2> <span>Qui sont les pionniers de Montreal ?</span>
                <span><a href="./galerie/index.html#historical"><img src="./images/icons_shared/eye-regular.svg"
                            alt="Voir"></a></span>
            </article>
            <article><img src="./images/images-home/quartier-spectacle-montreal-centre-ville-1068x669.jpg.png"
                    alt="Quartier des Spectacles">
                <h2>Culturel</h2>Qu'est-ce qui nous fait vibrer ?
                <span><a href="./galerie/index.html#cultural"><img src="./images/icons_shared/eye-regular.svg"
                            alt="Voir"></a></span>
            </article>
            <article><img src="./images/images-home/Jardin-Botanique-Montreal-2.jpg" alt="Jardin Botanique">
                <h2>Nature</h2>Découvrir des espaces de vie magnifiques...
                <span><a href="./galerie/index.html#natural"><img src="./images/icons_shared/eye-regular.svg"
                            alt="Voir"></a></span>
            </article>

        </main>

        